/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea
/public/uploads/serial/resize/*
/public/uploads/serial/icon/*
/public/uploads/serial/originals/*
/public/uploads/epizodes/resize/*
/public/uploads/epizodes/icon/*
/public/uploads/epizodes/originals/*


!/public/uploads/serial/icon/example.jpg
!/public/uploads/serial/resize/example.jpg
!/public/uploads/serial/originals/example.jpg
!/public/uploads/epizodes/icon/example.jpg
!/public/uploads/epizodes/resize/example.jpg
!/public/uploads/epizodes/originals/example.jpg


